:root {
  --main-color: #17414f;
  --secondary-color: #e2f5fb;
  --dark-blue: #003569;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* footer */
.footer-container {
  background-color: var(--main-color);
  padding: 20px 150px;
  color: #fff;
}
.footer-card-container {
  display: flex;
  gap: 30px;
}
.footer-card {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  font-size: 14px;
  background-color: #215d72;
  border-radius: 8px;
  padding: 10px 30px;
  width: 25%;
}
.card-left svg {
  width: 40px;
  height: 40px;
}
.card-right .sub-title {
  font-weight: 600;
  line-height: 24px;
}

.footer-logo-container {
  display: flex;
  gap: 80px;
  font-size: 12px;
  margin: 30px 0;
}
.footer-logo {
  background-color: #fff;
  padding: 20px;
}
.footer-content {
  width: 30%;
}
.footer-container .copyright{
  font-size: 12px;
}
